<div class="center-container" style="background-image: url('/assets/images/adding.jpg'); ">
    <body>
        <div class="pattern-container">
          <div class="pattern">
            <kbd class="kbd">2</kbd> +
            <kbd class="kbd">3</kbd> =
            <div class="number-container">
              <input type="number" class="number-input" placeholder="number">
            </div>
          </div>
          <div class="pattern">
            <kbd class="kbd">4</kbd> +
            <kbd class="kbd">5</kbd> =
            <div class="number-container">
              <input type="number" class="number-input" placeholder="number">
            </div>
          </div>
          <!-- Add more patterns here -->
        </div>
      </body>
      
  </div>