<div class="bg-white">
  <div class="min-h-screen flex flex-col items-center bg-cover bg-center bg-custom">
    
    <!-- Welcome Card -->
    <div class="w-full bg-blue-100 py-4 text-center">
      <h1 class="text-3xl font-bold text-blue-800">Welcome, User!</h1>
      
    </div>

    <!-- Card Container -->
    <div class="container mx-auto mt-8 px-4">
      <div class="flex space-x-8">

        <!-- Number Card -->
        <div class="card bg-base-100 w-80 shadow-xl mb-8">
          <figure>
            <img src="https://play-lh.googleusercontent.com/u9R9aGKR7AobkjRJsxBRpQJmz8OWsUNRREcCh13nbtCcMmYFZOATydl8yQjPFyrJJMVr=w240-h480-rw" alt="Numbers Image" class="w-full h-32 object-cover"/>
          </figure>
          <div class="card-body">
            <h2 class="card-title text-sm">Numbers</h2>
            <p class="text-xs">Transforms number practice into a joyful journey </p>
            <div class="card-actions flex justify-center mt-4">
              <button [routerLink]="'/numbers-content'" 
                     class="bg-blue-600 text-white font-semibold py-2 px-6 rounded-lg shadow-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out">
                    Play
               </button>

            </div>
          </div>
        </div>

        <!-- Additional Card -->
        <div class="card bg-base-100 w-80 shadow-xl mb-8">
          <figure>
            <img src="https://play-lh.googleusercontent.com/35EPJieBP3aVkRWmbwIkMTzXZCFEcSps-8eHWqOdNbsRxNpcbzK94Lj_yVk_JsCz-Q=w240-h480-rw" alt="Add Image" class="w-full h-32 object-cover"/>
          </figure>
          <div class="card-body">
            <h2 class="card-title text-sm">Additional</h2>
            <p class="text-xs">Addition becomes an exciting journey for young learners.</p>
            <div class="card-actions flex justify-center mt-4">
              <button class="bg-blue-600 text-white font-semibold py-2 px-6 rounded-lg shadow-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out">
                Play
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- More Cards -->
    <div class="container mx-auto mt-8 px-4">
      <div class="flex space-x-8">

        <!-- Subtraction Card -->
        <div class="card bg-base-100 w-80 shadow-xl mb-8">
          <figure>
            <img src="https://play-lh.googleusercontent.com/D0Gjc5-mtCpr1oJHKjb9OjB5lwIMWTDWKQK3zzboDcE5oTQoW0-2u_uQ91-tVhikePb2=w240-h480-rw" alt="Subtract Image" class="w-full h-32 object-cover"/>
          </figure>
          <div class="card-body">
            <h2 class="card-title text-sm">Subtraction</h2>
            <p class="text-xs">Reinforce subtraction skills and build a love for math.</p>
            <div class="card-actions flex justify-center mt-4">
              <button class="bg-blue-600 text-white font-semibold py-2 px-6 rounded-lg shadow-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out">
                Play
              </button>
            </div>
          </div>
        </div>

        <!-- Words Card -->
        <div class="card bg-base-100 w-80 shadow-xl mb-8">
          <figure>
            <img src="https://store-images.s-microsoft.com/image/apps.15170.13758596875330421.12e68f95-8ed1-4724-8a2e-90ae35ab9415.a3a8af2f-1356-4bfe-8c4b-7b066cb721a0" alt="Words Image" class="w-full h-32 object-cover"/>
          </figure>
          <div class="card-body">
            <h2 class="card-title text-sm">Words</h2>
            <p class="text-xs">Sharpen your brain with word puzzles that help practice spelling.</p>
            <div class="card-actions flex justify-center mt-4">
              <button class="bg-blue-600 text-white font-semibold py-2 px-6 rounded-lg shadow-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-300 ease-in-out">
                Play
              </button>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
